Auction [<%= auction.id %>] <%= auction.finished ? "Finished" : "Ongoing" %>
<%= auction.text %>
Bids:
<% auction.bids.each do |bid| %>
<%= bid.owner.shorthand%>: [<%= bid.id %>] <%= bid.text %>
<% end %>
