Task <%= task.id %>
Assigned to: <%= task.assignee ? task.assignee.shorthand : "<nobody>" %>
Created by: <%= task.owner ? task.owner.shorthand : "<nobody>" %>
<% if task.due_by %>
Due by: <%= task.due_by %> (in <%= distance_of_time_in_words(DateTime.now, task.due_by) %>)
<% end %>
[<%= task.finished ? "X" : " "%>] <%= task.text %>
